.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    text-align: center;
}

.bodyImage {
    min-height: 150px;
    min-width: 150px;
    height: 10vw;
    width: 10vw;
}

.container > p {
    color: var(--secondaryTextColor);
    margin-top: 30px;
    font-size: 1.2rem;
}

.btnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnContainer > span {
    color: var(--secondaryTextColor);
    font-size: 1.1rem;
    margin: 10px 0px;
}

.btnContainer > p {
    color: var(--secondaryTextColor);
    font-size: 1rem;
}

.recordBtn {
    padding: 10px 70px;
    margin-top: 6px;
    border-radius: 22px;
    display: flex;
    justify-content: center;
}

.recordBtn > i {
    margin-left: 10px;
    font-size: 18px;
}

.uploadBtn {
    border: 1px solid gray;
    height: 60px;
    width: 60px;
    outline: none;
    background-color: transparent;
    border-radius: 50%;
    border-style: dashed;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .container > p {
        font-size: 1.3rem;
    }
}

.resetMargin {
    margin: 0;
}

.loadingState {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    position: relative;
    color: var(--secondaryTextColor);
}

.loadingState_div {
    font-size: 1.3rem;
    display: inline-flex;
    gap: 0.3rem;
    align-items: center;
}

.tickIcon {
    margin: 0 0.3rem 0 4px;
    margin-right: 0.3rem;
    background: #fff;
    color: rgb(50, 112, 228);
    width: 28px;
    height: 28px;
    font-size: 1.2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loadingStateNumbers {
    margin: 0 0.3rem 0 4px;
    border: 1px solid rgb(172, 170, 170);
    width: 28px;
    height: 28px;
    font-size: 1.2rem;
    margin-right: 0.3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle {
    position: relative;
}

.middle::before {
    content: " ";
    height: 1.5rem;
    width: 2px;
    position: absolute;
    background: rgb(172, 170, 170);
    top: -1.55rem;
    left: 1rem;
}

.middle::after {
    content: " ";
    height: 1.5rem;
    width: 2px;
    position: absolute;
    background: rgb(172, 170, 170);
    bottom: -1.56rem;
    left: 1rem;
}

@media only screen and (min-width: 768px) {
    .loadingState {
        flex-direction: row;
        gap: 3rem;
    }

    .loadingStateNumbers {
        width: 32px;
        height: 32px;
        margin-right: 0.4rem;
    }

    .tickIcon {
        width: 32px;
        height: 32px;
    }
    
    .middle::before {
        height: 2px;
        width: 2rem;
        top: 50%;
        left: -2.5rem;
    }
    
    .middle::after {
        height: 2px;
        width: 2rem;
        top: 50%;
        left: unset;
        right: -2.5rem;
    }
}