@use './mixins' as *;

$theme: (
    primaryBgColor: (
        darkMode: #fefefe,
        lightMode: #fefefe,
    ),
    secondaryBgColor: (
        darkMode: rgb(241, 127, 184),
        lightMode: rgb(241, 127, 184),
    ),
    textColor: (
        darkMode: #f4f4f4,
        lightMode: #383838,
    ),
    textHoverColor: (
        darkMode: #f4f4f4,
        lightMode: #5d5d5d,
    ),
    secondaryTextColor: (
        darkMode: #f4f4f4,
        lightMode: #5d5d5d,
    ),
    titleColor: (
        darkMode: #F5A,
        lightMode: #F5A,
    ),
    boxShadowColor: (
        darkMode: rgb(36, 36, 36),
        lightMode: rgba(179,179,179,0.75),
    ),
);

.darkMode {
    @include themeHelper("darkMode", $theme)
}

.lightMode {
    @include themeHelper("lightMode", $theme)
}