.navContainer {
    background-color: var(--primaryBgColor);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.brand {
    color: var(--titleColor);
    font-family: "MaduraiBold";
    font-size: 22px;
}

.linkContainer {
    display: none;
    align-items: center;
    position: absolute;
    flex-direction: column;
    right: 0;
    top: 86%;
    background-color: var(--secondaryBgColor);
    color: white;
    width: 40vw;
    padding: 30px;
    z-index: 3;
    border-radius: 4px;
}

.navLink {
    font-family: "Rubik-bold";
    font-size: 18px;
}

.menuBtn {
    display: block;
    outline: none;
    border: none;
    background-color: var(--secondaryBgColor);
    color: white;
    font-size: 22px;
    border-radius: 4px;
}

.fakeDivForToggleLinkContainer {
    display: none;
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vh;
    z-index: 2;
}

@media only screen and (min-width: 768px) {
    .brand {
        font-size: 28px;
    }
    .linkContainer {
        display: flex !important;
        position: relative;
        flex-direction: row;
        width: 50%;
        background-color: var(--primaryBgColor);
        color: var(--textColor);
        padding: 0;
        z-index: 0;
    }
    .navLink {
        font-family: "Rubik-bold";
        font-weight: bold;
        margin-right: 15%;
        font-size: 17px;
    }
    .menuBtn {
        display: none;
    }
    .fakeDivForToggleLinkContainer {
        display: none !important;
    }
}










