@use './variables/colors' as *;

@font-face {
  font-family: "MaduraiBold";
  /*Can be any text*/
  src: local("MaduraiBold"),
    url("../public/fonts/Madurai W01 Norm Bold.ttf") format("truetype");
}

@font-face {
  font-family: "RubikLight";
  /*Can be any text*/
  src: local("RubikLight"),
    url("../public/fonts/Rubik-Light.ttf") format("truetype");
}

@font-face {
  font-family: "RubikRegular";
  /*Can be any text*/
  src: local("RubikRegular"),
    url("../public/fonts/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RubikSemiBold";
  /*Can be any text*/
  src: local("RubikSemiBold"),
    url("../public/fonts/Rubik-SemiBold.ttf") format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: RubikRegular !important;
  background-color: var(--primaryBgColor);
}

.carousel-indicators button {
  border-top: unset !important;
  width: 10px !important;
  border-bottom: unset !important;
  border: 1px solid transparent !important;
  border-left-width: 0 !important;
  border-right-width: 0 !important;
  border-radius: 10px !important;
  background-color: rgba(171, 171, 171, 0.4) !important;
  height: 10px !important;
  width: 10px !important;
}

.carousel-indicators .active {
  border-top: unset !important;
  border-bottom: unset !important;
  border: 1px solid transparent !important;
  border-left-width: 0 !important;
  border-right-width: 0 !important;
  border-radius: 10px !important;
  background-color: #0d6efd !important;
  height: 10px !important;
  width: 20px !important;
}